@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes popup {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .animate-popup {
    animation: popup 0.4s ease-out forwards;
  }
}
